.btn-primary-color{

    background-color: #d12e2e;
    color: white;

    &:hover {
      background-color: #b02727;
    }
    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
}
