<div class="container-fluid"
  style=" height:100% ; background-size: cover; background-image: url('/assets/images/background.png');">
  <div class="container login-page ">
    <div class="row">
      <div class="col-md-6">
        <div style="height: 70%;">

        </div>

        <div class="">
          <h1 class="text-white">Un seul accès, toutes vos factures à portée de main.</h1>
        </div>

        <div class="text-white">
          <p class="login-page__copyright">© ARCEP 2025. Tous droits réservés.</p>
        </div>
      </div>

      <div class="col-md-6"  style="margin-top:200px; padding:20px; background-color: white;">


          <div class="login-page__icon" style="text-align: center;">
            <img src="assets/images/logo.png" alt="Logo de l'application" class="login-page__logo">
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
          <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>


          <!--
          <form *ngIf="!initiated && !tokenOK" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit">
            <div class="form-group">
              <label for="email" class="form-label">Adresse e-mail</label>
              <input id="email" type="email" class="form-control" formControlName="email">
              <div *ngIf="forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].errors"
                class="text-danger">
                <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">L'adresse e-mail est requise.
                </div>
                <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">Veuillez entrer une adresse e-mail
                  valide.</div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 btn-primary-color" [disabled]="forgotPasswordForm.invalid || isLoading">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
              Envoyer le lien de réinitialisation
            </button>
          </form>
          <form *ngIf="initiated && ! tokenOK" [formGroup]="forgotPasswordFormToken" (ngSubmit)="onSubmitConfirm()">
            <div class="form-group">
              <label for="token" class="form-label">Code :</label>
              <input id="token" type="number" class="form-control" formControlName="token">
              <div *ngIf="forgotPasswordFormToken.controls['token'].touched && forgotPasswordFormToken.controls['token'].errors"
                class="text-danger">
                <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">L'adresse e-mail est requise.
                </div>
                <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">Veuillez entrer une adresse e-mail
                  valide.</div>
              </div>
            </div>


            <button type="submit" class="btn btn-primary w-100 btn-primary-color" [disabled]="forgotPasswordForm.invalid || isLoading">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
              Envoyer le lien de réinitialisation
            </button>
          </form>

          <div class="mt-3 text-center">
            <a [routerLink]="['/auth/login']">Retour à la connexion</a>
          </div>-->



            <ng-container *ngIf="currentStep === 1">
               <form [formGroup]="forgotPasswordForm" (ngSubmit)="onRequestPasswordReset()">

                <div class="form-group">
                  <label for="email" class="form-label">Adresse e-mail</label>
                  <input id="email" type="email" class="form-control" formControlName="email">
                  <div
                    *ngIf="forgotPasswordForm.controls['email'].touched && forgotPasswordForm.controls['email'].errors"
                    class="text-danger">
                    <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">L'adresse e-mail est requise.
                    </div>
                    <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">Veuillez entrer une adresse
                      e-mail valide.</div>
                  </div>
                </div>
                  <br/>
                <button type="submit" class="btn btn-primary w-100 btn-primary-color"
                  [disabled]="forgotPasswordForm.invalid || isLoading">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
                  Envoyer le code
                </button>
              </form>
              <div class="mt-3 text-center">
                <a [routerLink]="['/auth/login']">Retour à la connexion</a>
              </div>
            </ng-container>

            <ng-container *ngIf="currentStep === 2">
              <h2>Vérification</h2>
              <p>Un code a été envoyé à {{ emailToReset }}. Veuillez le saisir ci-dessous.</p>
              <form [formGroup]="verifyCodeForm" (ngSubmit)="onVerifyCode()">
                <div class="form-group">
                  <label for="code" class="form-label">Code de vérification</label>
                  <input id="code" type="text" class="form-control" formControlName="code">
                  <div *ngIf="verifyCodeForm.controls['code'].touched && verifyCodeForm.controls['code'].errors"
                    class="text-danger">
                    <div *ngIf="verifyCodeForm.controls['code'].errors?.['required']">Le code est requis.</div>
                  </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary w-100 btn-primary-color" [disabled]="verifyCodeForm.invalid || isLoading">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
                  Vérifier le code
                </button>
              </form>
              <div class="mt-3 text-center">
                <a [routerLink]="['/auth/forgot-password']" (click)="currentStep = 1">Modifier l'email</a>
              </div>
            </ng-container>

            <ng-container *ngIf="currentStep === 3">
              <h2>Nouveau mot de passe</h2>
              <p>Veuillez entrer et confirmer votre nouveau mot de passe.</p>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
                <div class="form-group">
                  <label for="newPassword" class="form-label">Nouveau mot de passe</label>
                  <input id="newPassword" type="password" class="form-control" formControlName="newPassword">
                  <div
                    *ngIf="resetPasswordForm.controls['newPassword'].touched && resetPasswordForm.controls['newPassword'].errors"
                    class="text-danger">
                    <div *ngIf="resetPasswordForm.controls['newPassword'].errors?.['required']">Le nouveau mot de passe
                      est requis.</div>
                    <div *ngIf="resetPasswordForm.controls['newPassword'].errors?.['minlength']">Le mot de passe doit
                      avoir au moins 8 caractères.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirmPassword" class="form-label">Confirmer le mot de passe</label>
                  <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword">
                  <div
                    *ngIf="resetPasswordForm.controls['confirmPassword'].touched && resetPasswordForm.errors?.['mismatch']"
                    class="text-danger">
                    Les mots de passe ne correspondent pas.
                  </div>
                </div>
                  <br/>
                <button type="submit" class="btn btn-primary w-100 btn-primary-color" [disabled]="resetPasswordForm.invalid || isLoading">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
                  Changer le mot de passe
                </button>
              </form>
              <div class="mt-3 text-center">
                <a [routerLink]="['/auth/login']">Retour à la connexion</a>
              </div>
            </ng-container>



      </div>
    </div>
  </div>

</div>


