<div>
  <form (ngSubmit)="crud()" [formGroup]="form">
    <div mat-dialog-content>
      <h2>Retrait Autorisation/Licence</h2>
      <div>
        <mat-form-field>
          <mat-label>Client</mat-label>
          <input matInput formControlName="client" matInput matTooltip="Client" placeholder="Client" readonly>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Objet</mat-label>
          <input matInput formControlName="objet" matInput matTooltip="Objet" placeholder="Objet" readonly>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Catégorie</mat-label>
          <input matInput formControlName="categorie_produit" matInput matTooltip="Catégorie" placeholder="Catégorie"
                 readonly>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Commentaire</mat-label>
          <input matInput formControlName="commentaire" matInput matTooltip="Commentaire" placeholder="Commentaire"
                 readonly>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Date retrait</mat-label>
          <input matInput [matDatepicker]="pickerStart" formControlName="date_retrait" matTooltip="Date retrait"
                 placeholder="Date retrait" required>
          <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
      </div>

      <div >
        <mat-form-field>
          <mat-label>Motif retrait</mat-label>
          <input matInput formControlName="motif_retrait" matTooltip="Motif retrait" type="text" placeholder="Motif retrait" required>
        </mat-form-field>
      </div>

    </div>
    <div align="end" mat-dialog-actions>
      <button [disabled]="form.invalid"color="warn" mat-button type="submit">
        <mat-icon>save</mat-icon>
        {{this.bouton_names.save}}
      </button>
      <button color="warn" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
        {{this.bouton_names.cancel}}
      </button>
    </div>
  </form>
</div>
