<cdk-virtual-scroll-viewport
  class="timeline-viewport"
  [itemSize]="104"
  [minBufferPx]="520"
  [maxBufferPx]="1040">
  <ng-container *cdkVirtualFor="let t of historiqueFicheTechniques; let i = index; trackBy: trackById">
    <mat-card class="dark-card">
      <mat-card-content>
        <p>
          <strong>Étape {{ i + 1 }} :</strong>
          {{ t.tache }} le {{ t.date_tache | date:'dd/MM/yyyy' }}
        </p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</cdk-virtual-scroll-viewport>
