<div class="page-title">
  <h2>{{ title }}</h2>
</div>

<mat-dialog-content [formGroup]="form" class="grid grid-cols-2 gap-4">

  <!-- Type de station -->
  <mat-form-field appearance="outline" class="w-full"
                  *ngIf="stationCfg.type_station?.visible">
    <mat-label>Type station</mat-label>
    <mat-select
      formControlName="type_station"
      matTooltip="Type station">
      <mat-option *ngFor="let item of typeStations" [value]="item.id">
        {{ item.libelle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="blank-row"></div>
  <!-- Puissance -->
  <mat-form-field appearance="outline" class="w-full"
                  *ngIf="stationCfg.puissance_classe?.visible">
    <mat-label>Puissance</mat-label>
    <input matInput formControlName="puissance_classe">
  </mat-form-field>

  <div class="blank-row"></div>

  <!-- Nombre de stations -->
  <mat-form-field appearance="outline" class="w-full"
                  *ngIf="stationCfg.nbre_station?.visible">
    <mat-label>Nombre de stations</mat-label>
    <input matInput type="number" formControlName="nbre_station">
  </mat-form-field>

  <div class="blank-row"></div>

  <!-- Largeur de bande -->
  <mat-form-field appearance="outline" class="w-full"
                  *ngIf="stationCfg.largeur_bande_mhz?.visible">
    <mat-label>Largeur de bande (MHz)</mat-label>
    <input matInput type="number" formControlName="largeur_bande_mhz">
  </mat-form-field>

  <div class="blank-row"></div>

  <!-- Débit -->
  <mat-form-field appearance="outline" class="w-full"
                  *ngIf="stationCfg.debit_classe?.visible">
    <mat-label>Débit</mat-label>
    <input matInput formControlName="debit_classe">
  </mat-form-field>

  <div class="blank-row"></div>

  <!-- Bande de fréquence -->
  <mat-form-field appearance="outline" class="w-full"
                  *ngIf="stationCfg.bande_frequence?.visible">
    <mat-label>Bande de fréquence</mat-label>
    <mat-select
      formControlName="bande_frequence"
      matTooltip="Bande de fréquence">
      <mat-option *ngFor="let item of typeBandeFrequences" [value]="item.id">
        {{ item.libelle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="blank-row"></div>

  <!-- Type d’usage -->
  <mat-form-field appearance="outline" class="w-full"
                  *ngIf="stationCfg.type_usage?.visible">
    <mat-label>Type d’usage</mat-label>
    <mat-select formControlName="type_usage">
      <mat-option value="COMMERCIAL">Commercial</mat-option>
      <mat-option value="NON_COMMERCIAL">Non commercial</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="blank-row"></div>

  <!-- Localité (sur 2 colonnes) -->
  <mat-form-field appearance="outline" class="w-full col-span-2"
                  *ngIf="stationCfg.localite?.visible">
    <mat-label>Localité</mat-label>
    <input matInput formControlName="localite">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" (click)="onCancel()">Annuler</button>
  <button mat-flat-button color="primary" (click)="onSave()">Enregistrer</button>
</mat-dialog-actions>
